/node_modules
package-lock.json
main.js
yarn.lock
secret.js
.env
metadataGenerated1
metadataEmpty
images
backup
snowies img 10,030
snowies metadata 10,030
metadata/
metadataGenerated/.DS_Store
.DS_Store
secret.txt
secret2.js
util