{
  "singleQuote": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "printWidth": 300,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
